black==21.12b0
boto3==1.24.11
colorama==0.4.4
databases[postgresql]==0.5.3
factory-boy==3.2.1
faker==13.15.0
faust==1.10.4
faustprometheus==0.0.6
httpx==0.20.0
hypothesis==6.24.0
jellyfish==0.9.0
pydantic[dotenv]==1.8.2
pytest==6.2.5
pytest-asyncio==0.18.3
requests==2.26.0
scikit-learn==1.0.1
snowflake-connector-python[pandas]==2.7.0
SQLAlchemy==1.4.41
starlette-exporter==0.11.0
structlog==21.2.0
xgboost==1.6.1
